<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kmaru.mapper.UserMapper">
	
	<insert id="userSignUp">
		insert into k_us(us_id,us_pw,us_name,us_tel,us_img,us_email,us_regdate,us_state) 
		values(#{us_id},#{us_pw},#{us_name},#{us_tel},#{us_img},#{us_email},now(),"정상")
	</insert>
	
	<select id="userLogin" resultType="UsVO">
		select * from k_us 
		where us_id=#{us_id} and us_pw=#{us_pw}
	</select>
	
</mapper>  